.list{
    /* display: flex; */
    /* border: 1px solid red; */
}
.listCard{
    /* width: 20%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}